##############################################
# __   __  _______  _______  _______  _______ 
#|  | |  ||       ||       ||       ||       |
#|  |_|  ||   _   ||  _____||_     _||  _____|
#|       ||  | |  || |_____   |   |  | |_____ 
#|       ||  |_|  ||_____  |  |   |  |_____  |
#|   _   ||       | _____| |  |   |   _____| |
#|__| |__||_______||_______|  |___|  |_______|
#
##############################################

define host{
	use			generic-host	    
	host_name		{{ hostname }}
	alias			{{ hostalias }}
	address			{{ host4 }}
}

##############################################

##############################################
# _______  _______  ______    __   __  ___   _______  _______  _______ 
#|       ||       ||    _ |  |  | |  ||   | |       ||       ||       |
#|  _____||    ___||   | ||  |  |_|  ||   | |       ||    ___||  _____|
#| |_____ |   |___ |   |_||_ |       ||   | |       ||   |___ | |_____ 
#|_____  ||    ___||    __  ||       ||   | |      _||    ___||_____  |
# _____| ||   |___ |   |  | | |     | |   | |     |_ |   |___  _____| |
#|_______||_______||___|  |_|  |___|  |___| |_______||_______||_______|
#
##############################################

define service {
	use				generic-service	 ; service template to use
	host_name			{{ hostname }}
	service_description		Disk Space
	check_command			check_all_disks!20%!10%
	contact_groups			{{ congroup_disk }}
	notification_interval		{{ notinterval_disk }}
	normal_check_interval		{{ checkinterval_disk }}
	retry_interval			{{ retryinterval_disk }}
	max_check_attempts		{{ maxattempts_disk }}
	flap_detection_enabled		{{ flapdetect_disk }}
}

define service {
	use				generic-service	 ; service template to use
	host_name			{{ hostname }}
	service_description		Disk Space - /srv
	check_command			check_nrpe_disk!/srv
	contact_groups			{{ congroup_disk }}
	notification_interval		{{ notinterval_disk }}
	normal_check_interval		{{ checkinterval_disk }}
	retry_interval			{{ retryinterval_disk }}
	max_check_attempts		{{ maxattempts_disk }}
	flap_detection_enabled		{{ flapdetect_disk }}
}

define service {
	use				generic-service	 ; service template to use
	host_name			{{ hostname }}
	service_description		Current Users
	check_command			check_users!20!50
}

define service {
	use				generic-service	 ; service template to use
	host_name			{{ hostname }}
	service_description		Total Processes
	check_command			check_procs!250!400
}

define service {
	use				generic-service	 ; service template to use
	host_name			{{ hostname }}
	service_description		Current Load
	check_command			check_load!5.0!4.0!3.0!10.0!6.0!4.0
}

define service {
	use				generic-service
	host_name			{{ hostname }}
	service_description		Postgresql port check
	check_command			check_tcp!5432
	contact_groups			{{ congroup_portcheck }}
	notification_interval		{{ notinterval_portcheck }}
	normal_check_interval		{{ checkinterval_portcheck }}
	retry_interval			{{ retryinterval_portcheck }}
	max_check_attempts		{{ maxattempts_portcheck }}
	flap_detection_enabled		{{ flapdetect_portcheck }}
}

##############################################

